# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Blue\AppData\Roaming\JetBrains\DataGrip2021.1\projects\blue\.idea/dataSources/
/dataSources.local.xml
